.grid {
  position: relative;
  background-color: hsla(0,0%,0%,.1);
  background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%),
                    -webkit-linear-gradient(left, hsla(0,0%,0%,.1) 2.5%, transparent 2.5%, transparent 97.5%, hsla(0,0%,0%,.1) 97.5%);

  background-size: 1em 1em;
  width: 10em;
  height: 20em;

  .tetrimino-wrapper {
    position: absolute;
  }
}
