.tetrimino {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column-reverse;

  &.I {
    width: 1em;
    height: 4em;
  }

  &.J {
    width: 2em;
    height: 3em;
  }

  &.L {
    width: 2em;
    height: 3em;
  }

  &.O {
    width: 2em;
    height: 2em;
  }

  &.S {
    width: 3em;
    height: 2em;
  }

  &.T {
    width: 3em;
    height: 2em;
  }

  &.Z {
    width: 3em;
    height: 2em;
  }
}
