.tetrimino {
  &.O {
    width: 2em;
    height: 2em;
  }

  &.I {
    width: 1em;
    height: 4em;
  }

  &.S {
    width: 3em;
    height: 2em;
  }

  &.Z {
    width: 3em;
    height: 2em;
  }

  &.L {
    width: 2em;
    height: 3em;
  }

  &.J {
    width: 2em;
    height: 3em;
  }

  &.T {
    width: 3em;
    height: 2em;
  }

  &.rotate-0 { transform: rotate(0deg); }
  &.rotate-90 { transform: rotate(90deg) }
  &.rotate-180 { transform: rotate(180deg) }
  &.rotate-270 { transform: rotate(270deg) }
}
